In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import linear_kernel

In [3]:
df_movies=pd.read_csv(r"ml-25m\movies.csv")
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
df_genome_score=pd.read_csv(r"ml-25m\genome-scores.csv")
df_genome_score

          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]

In [133]:
df_2=df_genome_score.pivot(index='movieId', columns='tagId', values='relevance').fillna(0)
df_2.reset_index(inplace=True)
df_2

tagId,movieId,1,2,3,4,5,6,7,8,9,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
0,1,0.02875,0.02375,0.06250,0.07575,0.14075,0.14675,0.06350,0.20375,0.20200,...,0.04050,0.01425,0.03050,0.03500,0.14125,0.05775,0.03900,0.02975,0.08475,0.02200
1,2,0.04125,0.04050,0.06275,0.08275,0.09100,0.06125,0.06925,0.09600,0.07650,...,0.05250,0.01575,0.01250,0.02000,0.12225,0.03275,0.02100,0.01100,0.10525,0.01975
2,3,0.04675,0.05550,0.02925,0.08700,0.04750,0.04775,0.04600,0.14275,0.02850,...,0.06275,0.01950,0.02225,0.02300,0.12200,0.03475,0.01700,0.01800,0.09100,0.01775
3,4,0.03425,0.03800,0.04050,0.03100,0.06500,0.03575,0.02900,0.08650,0.03200,...,0.05325,0.02800,0.01675,0.03875,0.18200,0.07050,0.01625,0.01425,0.08850,0.01500
4,5,0.04300,0.05325,0.03800,0.04100,0.05400,0.06725,0.02775,0.07650,0.02150,...,0.05350,0.02050,0.01425,0.02550,0.19225,0.02675,0.01625,0.01300,0.08700,0.01600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,205072,0.02050,0.01775,0.11400,0.03650,0.31225,0.03675,0.10700,0.37925,0.01725,...,0.18675,0.03650,0.03025,0.12900,0.13975,0.42425,0.03400,0.02350,0.41725,0.09100
13812,205076,0.03825,0.03150,0.03200,0.05325,0.20850,0.07050,0.06625,0.27825,0.00950,...,0.27775,0.03225,0.04675,0.03175,0.23025,0.06300,0.04175,0.04125,0.07275,0.02350
13813,205383,0.04100,0.04025,0.02750,0.07850,0.19750,0.17825,0.17125,0.30475,0.16825,...,0.16525,0.03250,0.02400,0.03575,0.20400,0.08525,0.04600,0.02900,0.11725,0.03925
13814,205425,0.04525,0.04125,0.04250,0.07425,0.11550,0.10500,0.08275,0.13575,0.16125,...,0.25075,0.04550,0.01425,0.03925,0.21700,0.06000,0.07250,0.01500,0.11050,0.02850
13815,206499,0.10050,0.09325,0.02225,0.04550,0.21125,0.06125,0.10425,0.29750,0.12450,...,0.12750,0.02750,0.02250,0.04200,0.17500,0.11000,0.04850,0.01325,0.14025,0.03350

In [134]:
df_2['merged_scores'] = df_2.apply(lambda row: np.array(row.iloc[1:]), axis=1)
df_2

tagId,movieId,1,2,3,4,5,6,7,8,9,...,1120,1121,1122,1123,1124,1125,1126,1127,1128,merged_scores
0,1,0.02875,0.02375,0.06250,0.07575,0.14075,0.14675,0.06350,0.20375,0.20200,...,0.01425,0.03050,0.03500,0.14125,0.05775,0.03900,0.02975,0.08475,0.02200,"[0.0287499999999999, 0.0237499999999999, 0.062..."
1,2,0.04125,0.04050,0.06275,0.08275,0.09100,0.06125,0.06925,0.09600,0.07650,...,0.01575,0.01250,0.02000,0.12225,0.03275,0.02100,0.01100,0.10525,0.01975,"[0.04125, 0.0404999999999999, 0.06274999999999..."
2,3,0.04675,0.05550,0.02925,0.08700,0.04750,0.04775,0.04600,0.14275,0.02850,...,0.01950,0.02225,0.02300,0.12200,0.03475,0.01700,0.01800,0.09100,0.01775,"[0.04675, 0.0554999999999999, 0.02924999999999..."
3,4,0.03425,0.03800,0.04050,0.03100,0.06500,0.03575,0.02900,0.08650,0.03200,...,0.02800,0.01675,0.03875,0.18200,0.07050,0.01625,0.01425,0.08850,0.01500,"[0.03425, 0.0379999999999999, 0.04049999999999..."
4,5,0.04300,0.05325,0.03800,0.04100,0.05400,0.06725,0.02775,0.07650,0.02150,...,0.02050,0.01425,0.02550,0.19225,0.02675,0.01625,0.01300,0.08700,0.01600,"[0.0429999999999999, 0.05325, 0.03799999999999..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,205072,0.02050,0.01775,0.11400,0.03650,0.31225,0.03675,0.10700,0.37925,0.01725,...,0.03650,0.03025,0.12900,0.13975,0.42425,0.03400,0.02350,0.41725,0.09100,"[0.0205, 0.0177499999999999, 0.113999999999999..."
13812,205076,0.03825,0.03150,0.03200,0.05325,0.20850,0.07050,0.06625,0.27825,0.00950,...,0.03225,0.04675,0.03175,0.23025,0.06300,0.04175,0.04125,0.07275,0.02350,"[0.03825, 0.0314999999999999, 0.03199999999999..."
13813,205383,0.04100,0.04025,0.02750,0.07850,0.19750,0.17825,0.17125,0.30475,0.16825,...,0.03250,0.02400,0.03575,0.20400,0.08525,0.04600,0.02900,0.11725,0.03925,"[0.0409999999999999, 0.04025, 0.0275, 0.0785, ..."
13814,205425,0.04525,0.04125,0.04250,0.07425,0.11550,0.10500,0.08275,0.13575,0.16125,...,0.04550,0.01425,0.03925,0.21700,0.06000,0.07250,0.01500,0.11050,0.02850,"[0.04525, 0.04125, 0.0424999999999999, 0.07424..."
13815,206499,0.10050,0.09325,0.02225,0.04550,0.21125,0.06125,0.10425,0.29750,0.12450,...,0.02750,0.02250,0.04200,0.17500,0.11000,0.04850,0.01325,0.14025,0.03350,"[0.1004999999999999, 0.09325, 0.02224999999999..."

In [135]:
df_2.drop(columns=list(range(1, 1129)), inplace=True)

In [136]:
df_2

tagId  movieId                                      merged_scores
0            1  [0.0287499999999999, 0.0237499999999999, 0.062...
1            2  [0.04125, 0.0404999999999999, 0.06274999999999...
2            3  [0.04675, 0.0554999999999999, 0.02924999999999...
3            4  [0.03425, 0.0379999999999999, 0.04049999999999...
4            5  [0.0429999999999999, 0.05325, 0.03799999999999...
...        ...                                                ...
13811   205072  [0.0205, 0.0177499999999999, 0.113999999999999...
13812   205076  [0.03825, 0.0314999999999999, 0.03199999999999...
13813   205383  [0.0409999999999999, 0.04025, 0.0275, 0.0785, ...
13814   205425  [0.04525, 0.04125, 0.0424999999999999, 0.07424...
13815   206499  [0.1004999999999999, 0.09325, 0.02224999999999...

[13816 rows x 2 columns]

In [137]:
def normalize_array(arr):
    magnitude = np.sqrt(np.sum(np.square(arr)))
    return arr / magnitude

# Apply the normalization function to each array in the column
df_2['merged_scores'] = df_2['merged_scores'].apply(normalize_array)

In [236]:
df_2

tagId  movieId                                      merged_scores
0            1  [0.003302703987711809, 0.0027283206855010576, ...
1            2  [0.0061241988151631175, 0.0060128497457965, 0....
2            3  [0.00957262186952827, 0.011364289064359743, 0....
3            4  [0.007082495673736028, 0.007857951404437033, 0...
4            5  [0.007869570475043402, 0.009745456460373537, 0...
...        ...                                                ...
13811   205072  [0.0027918402619348617, 0.002417325104846025, ...
13812   205076  [0.0077557149628892244, 0.006387059381202871, ...
13813   205383  [0.006619149174173049, 0.006498067177084534, 0...
13814   205425  [0.005641180175593973, 0.005142512314767987, 0...
13815   206499  [0.014463693549454926, 0.013420292771011673, 0...

[13816 rows x 2 columns]

In [230]:
# import numpy as np

# max_length = df_2['merged_scores'].apply(len).max()  # Find the maximum length of arrays

# # Pad or truncate arrays to the maximum length
# df_2['merged_scores'] = df_2['merged_scores'].apply(lambda x: np.pad(x, (0, max_length - len(x))))

# # Convert the 'merged_scores' column to a numpy array
# matrix = np.array(df_2['merged_scores'].tolist())

In [237]:
df_2['merged_scores'] = df_2['merged_scores'].apply(np.array)

In [238]:
matrix=df_2["merged_scores"].to_numpy()

In [239]:
matrix.shape

(13816,)

In [240]:
import numpy as np

max_length = df_2['merged_scores'].apply(len).max()  # Find the maximum length of arrays

# Pad or truncate arrays to the maximum length
df_2['merged_scores'] = df_2['merged_scores'].apply(lambda x: np.pad(x, (0, max_length - len(x))))

# Convert the 'merged_scores' column to a NumPy array
matrix = np.array(df_2['merged_scores'].tolist())

In [241]:
matrix.shape

(13816, 1128)

In [242]:
matrix

array([[0.0033027 , 0.00272832, 0.00717979, ..., 0.00341758, 0.0097358 ,
        0.00252729],
       [0.0061242 , 0.00601285, 0.00931621, ..., 0.00163312, 0.01562599,
        0.00293219],
       [0.00957262, 0.01136429, 0.00598929, ..., 0.00368572, 0.01863334,
        0.00363452],
       ...,
       [0.00661915, 0.00649807, 0.00443967, ..., 0.00468184, 0.01892915,
        0.00633662],
       [0.00564118, 0.00514251, 0.00529835, ..., 0.00187   , 0.0137757 ,
        0.00355301],
       [0.01446369, 0.01342029, 0.00320216, ..., 0.0019069 , 0.02018441,
        0.00482123]])

In [147]:
cosine_sim_mat=np.matmul(matrix,np.transpose(matrix))

C:\Users\ayush\AppData\Local\Temp\ipykernel_23540\4178690359.py:1: RuntimeWarning: invalid value encountered in matmul
  cosine_sim_mat=np.matmul(matrix,np.transpose(matrix))

In [148]:
cosine_sim_mat.shape

(13816, 13816)

In [149]:
indices=pd.Series(df_movies.index, index=df_movies["title"]).drop_duplicates()
indices

title
Toy Story (1995)                          0
Jumanji (1995)                            1
Grumpier Old Men (1995)                   2
Waiting to Exhale (1995)                  3
Father of the Bride Part II (1995)        4
                                      ...
We (2018)                             62418
Window of the Soul (2001)             62419
Bad Poems (2018)                      62420
A Girl Thing (2001)                   62421
Women of Devil's Island (1962)        62422
Length: 62423, dtype: int64

In [227]:
def find_index(movieID):
    index_array = df_2[df_2["movieId"] == movieID].index.to_numpy()
    index_array_int = index_array.astype(int)
    return index_array_int[0]


def get_rec(title,cosine_sim_mat):
    movieID=indices[title]
    index=find_index(movieID)
    sim_score=enumerate(cosine_sim_mat[index])
    sim_score=sorted(sim_score,key=lambda x: x[1], reverse=True)
    sim_score=sim_score[1:11]
    sim_index=[i[0] for i in sim_score]
    movieIDS = df_2["movieId"].iloc[sim_index]
    list=[]
    for i,movie in enumerate(movieIDS):
        print("Reccomendations: ")
        print(f" {i+1}: {df_movies['title'][df_movies['movieId']==movie].values[0]} ")
    return list

In [229]:
get_rec("Jumanji (1995)",cosine_sim_mat)

Reccomendations:
 1: Monsters, Inc. (2001)
Reccomendations:
 2: Toy Story 2 (1999)
Reccomendations:
 3: Bug's Life, A (1998)
Reccomendations:
 4: Toy Story 3 (2010)
Reccomendations:
 5: Finding Nemo (2003)
Reccomendations:
 6: Ratatouille (2007)
Reccomendations:
 7: Incredibles, The (2004)
Reccomendations:
 8: Ice Age (2002)
Reccomendations:
 9: Up (2009)
Reccomendations:
 10: Shrek (2001)

[]